/* .meal {
  width: 500px;
  margin: 100px auto;
}
img {
  max-width: 100%;
  max-height: 100%;
}
.ui-wiget-header {
  background: none;
  border: none;
}
#tabs {
  border: none;
}
.ui-tabs .ui-tabs-panel {
  border: 1px solid lightgrey;
  border-radius: 2px;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-buttion.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  /*tab color*/
  /*
  background: steelblue;

  border: none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-wiget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  /*tab hover color*/
  /*
  background: lightseagreen;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited,
a.ui-button,
a:link.ui-button,
a:visited.ui-button,
.ui-button {
  /*tab text color*/
  /*
  color: white;
} */
