body {
    background-image: url("images/food-main.jpg");
    background-size: cover;
    background-attachment: fixed;
}

#recipeOp {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
    color: white;
}

.card {
    background: rgba(255, 192, 56, .8);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    height: 400px;
    overflow: hidden;
}

.card:hover {
    background: rgba(236, 76, 76, .8);
    transition: all 0.3s ease-in-out 0s;
    overflow: visible;
    height: auto;
}

.ui-autocomplete-loading {
    background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat;
}

.ui-autocomplete-loading {
    background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat;
}

/* .suggestions {
    margin: 0;
    padding: 0;
    position: relative;
    /* perspective:20px; */
  } */
  /* .suggestions li {
    background: white;
    list-style: none;
    border-bottom: 1px solid #d8d8d8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
    margin: 0;
    padding: 20px;
    transition: background 0.2s;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
  } */
  
  /* .suggestions li:nth-child(even) {
    transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
    background: linear-gradient(to bottom, #ffffff 0%, #efefef 100%);
  }
  .suggestions li:nth-child(odd) {
    transform: perspective(100px) rotateX(-3deg) translateY(3px);
    background: linear-gradient(to top, #ffffff 0%, #efefef 100%);
  } */