body {
    background-image: url("images/food-main.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: right;
}

#recipeOp {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
}

.card {
    background: rgba(255, 192, 56, .8);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    height: 400px;
    overflow: hidden;
}

.card:hover {
    background: hsla(0, 100%, 80%, 0.8);
    transition: all 0.3s ease-in-out 0s;
    overflow: visible;
    height: auto;
}

.form-inline {
    float: none;
    display: inline-block;
    text-align: center;
}

#get_meal_main {
    color: #f9ba2e;
    background-color: #e44142;
}

#main_submit {
    border-color: #e44142 !important;
    color: #e44142 !important;
}

#main_submit:hover {
    color:#f9ba2e !important;
    background-color:#e44142;
    border-color:#e44142;
}


#main_submit.focus,#main_submit:focus {
    box-shadow:0 0 0 .2rem #f9ba2e !important;
}

#main_submit.disabled,#main_submit:disabled{
    color:#f9ba2e !important;
    background-color:transparent !important;
}

#main_submit:not(:disabled):not(.disabled).active,#main_submit:not(:disabled):not(.disabled):active,.show>#main_submit.dropdown-toggle {
    color:#fff !important;
    background-color:#f9ba2e !important;
    border-color: #f9ba2e !important;
}
