body {
    background-image: url("images/food-main.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: right;
}

#suggestions {
    position: absolute;
    width: 250px;
}

#recipeOp {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
    color: white;
}

.on-load-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #f9ba2e;
    border-radius: 5px;
    margin-top: 30px;
}

.card {
    background: rgba(255, 192, 56, .8);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    height: 400px;
    overflow: hidden;

}

.card:hover {
    background: #e44142;
    transition: all 0.3s ease-in-out 0s;
    overflow: visible;
    height: auto;
    color: white;
}

.btn-warning {
    color: #f9ba2e !important;
    background-color: #e44142 !important;
}

.btn-warning:hover {
    color: #e44142 !important;
    background-color: #f9ba2e !important;
}

.loading {
    position: fixed;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    top: 0;
    left: 0;

}

.form-inline {
    float: none;
    display: inline-block;
    text-align: center;
}

.override-button-style {
    background-color: #f9ba2e !important;
    color: #e44142;
}

.override-button-style:hover {
    background-color: #f9ba2e !important;
    color: #e44142;

}

#main_submit {
    border-color: white !important;
    color: #f9ba2e !important;
}

#main_submit:hover {
    color:#f9ba2e !important;
    background-color:#e44142;
    border-color:#e44142;
}

.suggestions {
    margin: 0;
    padding: 0;
    position: relative;
    /* perspective:20px; */
}

.suggestions li {
    background: white; 
    list-style: none; 
    justify-content: space-between;
    border-bottom: 1px solid #d8d8d8;
    padding: 5px;
}

.suggestions li:focus,
.suggestions li:hover {
    background-color: #f9ba2e;
    cursor: pointer;

}

#main_submit.focus,#main_submit:focus {
    box-shadow:0 0 0 .2rem #f9ba2e !important;
}

#main_submit.disabled,#main_submit:disabled{
    color:#f9ba2e !important;
    background-color:transparent !important;
}

#main_submit:not(:disabled):not(.disabled).active,#main_submit:not(:disabled):not(.disabled):active,.show>#main_submit.dropdown-toggle {
    color:#fff !important;
    background-color:#f9ba2e !important;
    border-color: #f9ba2e !important;
}

.meal {
    width: 500px;
    margin: 100px auto;
  }

img {
    max-width: 100%;
    max-height: 100%;
  }

.ui-wiget-header {
    background: none;
    border: none;
  }

#tabs {
    border: none;
  }

.ui-tabs .ui-tabs-panel {
    border: 1px solid lightgrey;
    border-radius: 2px;
  }

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-buttion.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    /*tab color*/
    background: #e44142;
    border: none;
  }

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-wiget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    /*tab hover color*/
    background: #f9ba2e;
  }

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited,
a.ui-button,
a:link.ui-button,
a:visited.ui-button,
.ui-button {
    /*tab text color*/
    color: white;
  }

#home {
    float: left !important;
}

.navbar-light {
    background: #e44142 !important;
}

div#meal {
    margin: 10px 10px 30px 10px;
}

.header-text {
    color: white;
}
